.article .articles {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.article .articles .sub-articles {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
}

.article .articles .sub-articles .image img {
  width: 300px;
  height: 200px;
}

.article .articles .sub-articles .content h3 {
  font-size: 20px;
  color: var(--heading);
  padding-bottom: 16px;
}

.article .articles .sub-articles .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--main-blue);
}


/*mobile design*/

@media screen and (max-width:768px){
  .article .articles .sub-articles{
    flex-direction: column;
  }

  .article .articles .sub-articles h3{
    text-align: center;
  }
}